---
import PageLayout from "@/layouts/PageLayout.astro";
import Hero from "@/components/Hero.astro";

const title = "Blog";
const description = "";
---

<PageLayout title={title} description={description}>
	<Hero title={title} description={description} />

	<p>Em breve</p>
</PageLayout>
