---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
---
<html>
  <body>
    <h1>vanilla-js</h1>
  </body>
</html>
<style>
  h1 {
    color: #F0DB4F;
  }
</style>