---
import { SITE } from "@/consts";
---

<footer class="mt-32">
	<div class="mx-auto max-w-4xl">
		<div class="flex justify-between p-2">
			<div>
				<p class="text-bold">&copy; 2025 | {SITE.TITLE}</p>
			</div>
			<div>
				<a
					class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
					href="/rss.xml">rss</a
				>
			</div>
		</div>
	</div>
</footer>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-S7RJ4JL8EC"
></script>
<script async>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}

	gtag("js", new Date());
	gtag("config", "G-S7RJ4JL8EC");
</script>
