---
import { SITE } from "../consts";
---

<footer class="mt-32">
    <div class="text-center">
      <p>Powered by Vercel, Astro & GitHub</p>
      <p class="">&copy; 2025 {`|`} {SITE.TITLE}</p>
    </div>
  </div>
</footer>
