---
import Logo from "./Logo.astro";
---

<div class="mx-auto max-w-4xl">
	<header class="flex items-center flex-wrap p-5">
		<h1 class="font-bold mr-5 text-2xl inline-flex items-center">
			<a href="/">
				<Logo />
			</a>
		</h1>

		<nav class="ml-auto">
			<a href="https://github.com/AlexsandroSA/vanilla-js" target="_blank">
				github
			</a>
		</nav>
	</header>
</div>
